body {
   
   display: flex;
   flex-direction: column;
   justify-content: center;
  
}

* {
    margin: 0;
    padding: 0;
    max-width: 1300px;
   
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.heroimg {
    max-width: 600px;
    margin-right: 40px;
    border-radius: 8px;
    
}
a {
    text-decoration: none;
    color: #e5e7eb;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 400px;
}

.hsecond {
    font-size: 18px;
    color: #e5e7eb;
   
}

.hcontent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 90px;
    padding-left: 30px;
}

button {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    max-width: 150px;
    padding: 10px 16px;
    color: #f9faf8;
    border: 0px;
}

.hbutton {
    background-color: #3882f6;
}

.he2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.cardimg {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cardtext {
    padding-top: 16px;
}

.section3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight:lighter;
}

#author {
    margin-left: auto;
    margin-top:20px;
    font-weight: bolder;
}

.section4 {
    display: flex;
    background-color: #ffff;
    padding: 80px 250px;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: #3882f6;
    padding: 40px 164px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    min-width: 100%;
}

.ctah {
    font-size: 26px;
    font-weight: bolder;
    color: #e5e7eb;
    margin-bottom: 8px;

}

.ctab {
    background-color: rgba(255, 255, 255, 0%);
    
    border: 3px;
    color: #F9FAF8;
    border-color: rgba(255, 255, 255, 100%);
    border-radius: 8px;
 
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 16px 0px;
}